.text-center{
    text-align: center;
}

.center{
    text-align: center;
}

form {
    display: inline-block;
    margin: auto;
}

label{
    text-align: center;
    margin: auto;
}

.butao {
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 4%;
    background-color: black;
    color: white;
} 

.butao:hover {
        opacity: 0.8;
    }