.error-404 img{
    width: 70%;
    height: 70%;
}

.button-home{
    display: flex;
    align-content: center;
    justify-content: center;
}

.button-home button{
    font-size: x-large;
}

.button-home button:hover,.button-home button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);

}
